
# git files
**/.gitignore
**/.git

# User-specific files for IDEs
**/.DS_Store
**/.vscode/

# JetBrains IDEs config files
**/.idea/

# Python cache files
**/__pycache__/
**/*.pyc

# Compiled source # 
Semester2/**/output
**/a.out

# Compiled C files
Semester2/**/*.dSYM/

# Github school assignments repos
Semester1/FP/GitHubSchool
Semester2/OOP/GitHubSchool

# Semester 2
Semester2/.useful.sh

# data files
Semester2/GraphsAlg/PracticalWorkNo1/graph1*.txt

# Cmake build directory
**/build/
**/oop-e-retake-mihaicrisan04

# qt model lecture 9
Semester2/OOP/Homework/qt-work/QtWidgetsApp_stub

# Semester 3

# JavaFX SDK
Semester3/MAP/javafx-sdk-23.0.1
Semester3/MAP/demo


# Java class files
*.class
Semester3/MAP/**/*.class
Semester3/MAP/**/*.jar
Semester3/MAP/**/bin/
Semester3/MAP/**/*.iml

