:root {
    /* Color Palette */
    --primary-bg: rgb(228, 238, 243);
    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    /* Typography */
    --font-main: Arial, sans-serif;
}

/* Basic styling */
body {
    font-family: var(--font-main);
    margin: 0;
    display: flex;
    align-items: center;
}

Header {
    width: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    align-items: center;
    background-color: blue;
}
 
Header nav ul {
    display: flex;
    list-style: none;
    padding: 0; 
}
